@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html, body{
    height: 100%;
}

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #A5A5B1;
    /*display: grid;*/
    place-items: center;
}

.card {
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: #FFFFFF;
    border-radius: 50px;
    color: #6f707d;
    font-family: 'Marcellus', serif;
}
#weatherTemp{
    font-size: 55px;
    color: #2b304d;
}

.temp{
    place-items: center;
}

.temp-details > p >span, .grey{
    color: #a3acc1;
    font-size: 12px;
}

.my-1{
    padding-bottom: 5px;
}

*:focus{
    outline: none;
}

/*-----------------------------*/
.block {
    width: 20%;
    background-color: #D6EFED;
    cursor: pointer;
    padding: 6px 0px 3px 15px; /* top / right / bottom / left */

}

.first-block {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.last-block {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.block.active, .block:hover {
    background-color: #C9BBCF;
}

.city-symbol {
    width: 200px;
    height: 250px;
}

.large-font {
    font-size: 60px;
}

.symbol-img {
    width: 40px;
    height: 40px;
}



/*------------------------------*/
.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{

    padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

